# Ejercicios repaso primera 5 clases

1) Crear una lista que contenga nombres de ciudades del mundo que contenga más de 5 elementos e imprimir por pantalla

In [48]:
ciudades = ["Londres", "Praga", "Sochi", "New York","Barcelona","Atenas"]
print(ciudades)

['Londres', 'Praga', 'Sochi', 'New York', 'Barcelona', 'Atenas']

2) Imprimir por pantalla el segundo elemento de la lista

In [49]:
print(ciudades[1])

Praga

3) Imprimir por pantalla del segundo al cuarto elemento

In [50]:
print(ciudades[1:4])

['Praga', 'Sochi', 'New York']

4) Agregar una ciudad más a la lista que ya exista y otra que no ¿Arroja algún tipo de error?

In [51]:
ciudades.append("Praga")
ciudades.append("Cordoba")
print(ciudades)

['Londres', 'Praga', 'Sochi', 'New York', 'Barcelona', 'Atenas', 'Praga', 'Cordoba']

5) Agregar otra ciudad, pero en la cuarta posición

In [52]:
ciudades.insert(3,"Lima")
print(ciudades)

['Londres', 'Praga', 'Sochi', 'Lima', 'New York', 'Barcelona', 'Atenas', 'Praga', 'Cordoba']

6) Concatenar otra lista a la ya creada

In [53]:
mas_ciudades=["Caracas","Rio de Janeiro","Roma"]
ciudades.extend(mas_ciudades)
print(ciudades)

['Londres', 'Praga', 'Sochi', 'Lima', 'New York', 'Barcelona', 'Atenas', 'Praga', 'Cordoba', 'Caracas', 'Rio de Janeiro', 'Roma']

7) Crear una tupla que contenga los números enteros del 1 al 20

In [54]:
enteros_hasta_20 = tuple(range(1,21))
print(enteros_hasta_20)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20)

8) Imprimir desde el índice 10 al 15 de la tupla

In [55]:
print(enteros_hasta_20[10:16])

(11, 12, 13, 14, 15, 16)

9) Desempaquetar solo los primeros 3 elementos de la tupla en 3 variables

In [56]:
uno,dos,tres,*cuatro_a_veinte = enteros_hasta_20
print(uno,dos,tres)

1 2 3

10) Crear un diccionario utilizando la lista crada en el punto 1, asignandole la clave "ciudad". Agregar tambien otras claves, como puede ser "Pais" y "Continente".

In [74]:
paises=["Inglaterra","Republica Checha","Rusia","Perú","Estados Unidos","España","Grecia","Republica Checa","Argentina","Venezuela","Brasil","Italia"]
continentes=["Europa","Europa","Europa","America","America","Europa","Europa","Europa","America","America","America","Europa"]
diccionario_ciudades=dict(zip(ciudades,zip(ciudades,paises,continentes)))
print(diccionario_ciudades)

{'Londres': ('Londres', 'Inglaterra', 'Europa'), 'Praga': ('Praga', 'Republica Checa', 'Europa'), 'Sochi': ('Sochi', 'Rusia', 'Europa'), 'Lima': ('Lima', 'Perú', 'America'), 'New York': ('New York', 'Estados Unidos', 'America'), 'Barcelona': ('Barcelona', 'España', 'Europa'), 'Atenas': ('Atenas', 'Grecia', 'Europa'), 'Cordoba': ('Cordoba', 'Argentina', 'America'), 'Caracas': ('Caracas', 'Venezuela', 'America'), 'Rio de Janeiro': ('Rio de Janeiro', 'Brasil', 'America'), 'Roma': ('Roma', 'Italia', 'Europa')}

11) Imprimir las claves del diccionario

In [70]:
print(diccionario_ciudades.keys())

dict_keys(['Londres', 'Praga', 'Sochi', 'Lima', 'New York', 'Barcelona', 'Atenas', 'Cordoba', 'Caracas', 'Rio de Janeiro', 'Roma'])

12) Imprimir las ciudades a través de su clave

In [71]:
for key in diccionario_ciudades.keys():
    print(diccionario_ciudades[key])

('Londres', 'Inglaterra', 'Europa')
('Praga', 'Republica Checa', 'Europa')
('Sochi', 'Rusia', 'Europa')
('Lima', 'Perú', 'America')
('New York', 'Estados Unidos', 'America')
('Barcelona', 'España', 'Europa')
('Atenas', 'Grecia', 'Europa')
('Cordoba', 'Argentina', 'America')
('Caracas', 'Venezuela', 'America')
('Rio de Janeiro', 'Brasil', 'America')
('Roma', 'Italia', 'Europa')

13) Crear una variable que contenga un elemento del conjunto de números enteros y luego imprimir por pantalla si es mayor o menor a cero

In [77]:
entero = 123
if entero > 0:
    print(f"{entero} es mayor a cero")
else:
    print(f"{entero} es menor a cero")

123 es mayor a cero

14) Crear dos variables y un condicional que informe si son del mismo tipo de dato

In [81]:
variable1 = 12.3
variable2 = "cadena"

if type(variable1) == type(variable2):
    print("Las dos variables son del mismo tipo de dato")
else:
    print("Las dos variables son de tipos de dato diferente")

Las dos variables son de tipos de dato diferente

15) Para los valores enteros del 1 al 20, imprimir por pantalla si es par o impar

In [82]:
for num in range (1,21):
    if num %2 == 0:
        print(f"{num} es par")
    else:
        print(f"{num} es impar")

1 es impar
2 es par
3 es impar
4 es par
5 es impar
6 es par
7 es impar
8 es par
9 es impar
10 es par
11 es impar
12 es par
13 es impar
14 es par
15 es impar
16 es par
17 es impar
18 es par
19 es impar
20 es par

16) En un ciclo for mostrar para los valores entre 0 y 5 el resultado de elevarlo a la potencia igual a 3

In [88]:
for num in range(5):
    print(f"{num} al cubo es igual a {num**3}")

0 al cubo es igual a 0
1 al cubo es igual a 1
2 al cubo es igual a 8
3 al cubo es igual a 27
4 al cubo es igual a 64

17) Crear una variable que contenga un número entero y realizar un ciclo for la misma cantidad de ciclos

In [91]:
entero = 12
for i in range(entero):
    print(f"Este es el {i+1}° ciclo")

Este es el 1° ciclo
Este es el 2° ciclo
Este es el 3° ciclo
Este es el 4° ciclo
Este es el 5° ciclo
Este es el 6° ciclo
Este es el 7° ciclo
Este es el 8° ciclo
Este es el 9° ciclo
Este es el 10° ciclo
Este es el 11° ciclo
Este es el 12° ciclo

18) Utilizar un ciclo while para realizar el factorial de un número guardado en una variable, sólo si la variable contiene un número entero mayor a 0

In [105]:
numero = 7
factorial = 1
while numero > 0:
    factorial *= numero
    numero -=1
print(factorial)

5040

19) Aplicando continue, armar un ciclo while que solo imprima los valores divisibles por 12, dentro del rango de números de 100 a 300

In [109]:
i = 100
while i <= 300:
    if i % 12 != 0:
        i +=1
        continue
    else:
        print(i)
        i +=1

108
120
132
144
156
168
180
192
204
216
228
240
252
264
276
288
300

20) Crear un ciclo while que encuentre dentro del rango de 100 a 300 el primer número divisible por 3 y además múltiplo de 6

In [112]:
i = 100
while i <=300:
    if i %3 == 0 and i %6 ==0:
        print (i)
        break
    i +=1

102

21) A partir de la variable cadena ya dada, mostrar en qué posiciones aparece la letra "n" **cadena** = 'Hola Mundo. Esto es una practica del lenguaje de programación Python'

In [129]:
cadena = "Hola Mundo"
indices = []
cadena_1 = enumerate(cadena)
for i in cadena_1:
    if i[1] == "n":
        indices.append(i[0])
print(indices)

[7]

22) Convertir en una lista la variable "cadena" del punto anterior y luego recorrerla con un iterador

In [130]:
lista_cadena = list(cadena)
for e in lista_cadena:
    print(e)

H
o
l
a

M
u
n
d
o